@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities{

    .w-1230{
        width: 1230px;
    }

    .w-1175{
        width: 1175px;
    }

    .w-1150{
        width: 1150px;
    }

    .w-1115{
        width: 1115px;
    }
    
    .w-1110{
        width: 1110px;
    }

    .w-250{
        width: 250px;
    }

    .w-240{
        width: 240px;
    }

    .w-160{
        width: 160px;
    }

    .h-248{
        height: 248px;
    }
    
    .h-50px{
        height: 50px;
    }

    .h-100px{
        height: 100px;
    }

    .h-380{
        height: 380px;
    }

    .h-390{
        height: 390px;
    }
    .text-14{
        font-size: 14px;
    }

    .w-350{
        width: 350px;
    }

    .h-314{
        height: 314px;
    }

    .h-1167{

        height: 1167px; 
    }

    .py-9px{
        padding-top: 9px;
        padding-bottom: 9px;
    }
    
    .mt-13px{
        margin-top: 13px;
    }

    .w-184px{
        width: 184px;
    }

    .w-188px{
        width: 188px;
    }

    .w-140px{
        width: 140px;
    }
}