@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities{

    .w-1230{
        width: 1230px;
    }

    .w-1175{
        width: 1175px;
    }

    .w-1150{
        width: 1150px;
    }

    .w-1115{
        width: 1115px;
    }

    .w-250{
        width: 250px;
    }

    .h-248{
        height: 248px;
    }
    
    .h-50px{
        height: 50px;
    }

    .h-100px{
        height: 100px;
    }

    .h-380{
        height: 380px;
    }
    .text-14{
        font-size: 14px;
    }

    .w-350{
        width: 350px;
    }

    .h-314{
        height: 314px;
    }

    .h-1167{

        height: 1167px; 
    }
}